<!-- not-found.component.html -->
<div class="not-found-container">
  <div class="not-found-content">
    <img src="https://png.pngtree.com/element_our/20190601/ourmid/pngtree-404-robot-mechanical-vector-image_1358197.jpg" alt="Not Found" class="not-found-image" />
    <h1 class="not-found-heading">Oops! Page Not Found</h1>
    <p class="not-found-description">The page you are looking for doesn't exist or has been moved.</p>
    <a href="/" class="not-found-link">Go Back to Home</a>
  </div>
</div>
