<body>
  <header></header>
  <main>
    <div id="container">
      <!-- style="background-color: #ffc7ed" -->
      <div id="one-way">
        <h1>One way Data Binding</h1>
        <p>x:{{ x }}<br />y:{{ y }}<br />add(x,y)= {{ add(x, y) }}</p>
      </div>
      <!-- style="background-color: #65c8cf" -->
      <div id="prop-binding" >
        <h1>Property Data Binding</h1>
        <input [type]="inputType" [id]="id_no" />
        <input
          type="button"
          value="{{ showValue }}"
          (click)="changeInputType()"
        />
      </div>
      <!-- style="background-color: #fff8db" -->
      <div id="two-way" >
      <h1>Two Way Binding</h1>
        <h2 style="display: inline-block; padding-right: 15px">Select City</h2>
        <select [(ngModel)]="City">
          <option value="">Select</option>
          <option value="Karachi">Karachi</option>
          <option value="Lahore">Lahore</option>
          <option value="Islamabad">Islamabad</option>
          <option value="Peshawar">Peshawar</option>
        </select>
        <h2>{{ City }}</h2>

        <input type="text" [(ngModel)]="Text" />
        <h2>You Wrote:</h2>
        <p>{{ Text }}</p>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
<app-todo></app-todo>
