<div class="container-fluid mt-3">
  <h1>Two Unequal Responsive Columns</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>The columns will automatically stack on top of each other when the screen is less than 576px wide.</p>
  <div class="row">
    <div class="col-sm-4" style="background-color: aqua;">
      Column
    </div>
    <div class="col-sm-4" style="background-color: blue;">
      Column
    </div>
    <div class="col-sm-4" style="background-color: brown;">
      Column
    </div>
  </div>
</div>
